
body {
    position: relative;
    background-color: rgb(212, 212, 212);
}

h1 {
    position: relative;
    top: 50px;
    left: -13%;
    height: 3vh;
    width: auto;
    color: white;
    margin: 0px;
    text-align: center;
}

#BudgetDiv {
    position: relative;
    top: 100px;
    left: 30%;
    height: 19vh;
    width: 20%;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
}

#BudgetInput {
    width: 90%;
}

#BudgetButton {
   position: absolute;
   bottom: 0.5%;
   left: 0.3%;
}


#ExpenseDiv {
    position: relative;
    bottom: 60px;
    left: 59%;
    height: 19vh;
    width: 20%;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
}

#ExpenseButton {
    position: absolute;
    bottom: 0;
    left: 0;
}

.buttons {
    position: relative;
    height: 4vh;
    width: 40%;
    background-color: rgb(1, 132, 255);
    color: white;
    border: none;
    cursor: pointer;
}

.TotalDiv {
    position: relative;
    top: 0px;
    width: 50%;
    bottom: 70px;
    height: 10vh;
    left: 30%;
    background-color: rgb(1, 132, 255);
    border-radius: 8px;
}

#BudgetText {
    position: absolute;
    left: 1%;
}

#BudgetResult {
    position: absolute;
    top: 25px;
}

#ExpenseText {
    position: absolute;
    top: 0;
    left: 40%;
}

#ExpenseResult {
    position: absolute;
    top: 13px;
    left: 45%;
}

#BalanceText {
    position: absolute;
    right: 5%;
    top: 0.9%;
}

#BalanceResult {
    position: absolute;
    right: 13%;
    top: 10px;
}

.EInputs {
    width: 90%;
}

#ExpenseInput {
    margin-bottom: 10px;
}

#ExpenseList {
    position: relative;
    top: 10px;
    left: 30%;
    background-color: white;
    height: auto;
    width: 50%;
    border-radius: 5px;
}
